* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

session {
  display: block;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 20px 30px;
  padding: 30px;
  background-color: #fff;
}
